%script{:src=>'/js/dominion.js'}
.current#main
  .toolbar
    %h1
      RanDominion
    %a.button.swap{:href=>'#settings'}
      Settings

  .touchable#spread
    %ul.rounded#cards0
    %ul.rounded#cards1

  .touchable#refresh
    %ul.rounded
      %li
        %a
          Refresh

  .touchable#banned-cards
    %h4
      Banned Cards (tap to unban)
    %ul.rounded#ban0
    %ul.rounded#ban1

  #expansions
    %h4
      Expansions
    %ul.rounded
      -@sources.sort{|a,b|a[0] <=> b[0]}.each do |source, allow|
        %li
          =source
          %span.toggle
            %input{:type=>'checkbox', :checked=>allow, :id=>"exp_#{source}"}

  #starting-player
    %h4
      Starting Player
    %ul.rounded
      -1.upto(6) do |max_players|
        %li
          == #{max_players}-player game: Player #{starting_player(max_players)}

#settings
  .toolbar
    %h1
      Settings
    %a.leftButton.back
      Back
  %ul.edgetoedge
    %li
      Nothing
