%html
  %head
    %title= @title
    %script{:type=>'text/javascript', :src=>'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
    %script{:type=>'application/x-javascript', :src=>'/jqtouch/jqtouch.min.js'}
    %link{:media => 'screen', :href => "/jqtouch/jqtouch.min.css", :type => "text/css", :rel => "stylesheet"}
    %link{:media => 'screen', :href => "/themes/apple/theme.min.css", :type => "text/css", :rel => "stylesheet"}
    :javascript
      $.jQTouch({
        icon: false,
        cacheGetRequests: false,
        statusBar: 'black',
        preloadImages: [
        ]
      });
  %body
    =yield
