%html
  %head
    %title= @title
    %link{:media => 'only screen and (max-device-width: 480px)', :href => "/css/iphone.css", :type => "text/css", :rel => "stylesheet"}
    %link{:media => 'screen and (min-device-width: 481px)', :href => "/css/browser.css", :type => "text/css", :rel => "stylesheet"}
  %body
    =yield
